.tile {
    height: 3vh;
    padding: 0px;
    margin-bottom: 0px;
    width: 3vh;
    display: inline-block;
    text-decoration: none;
}

.main-grid {
    display: flex;
    flex-wrap: wrap;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.pause {
    margin-top: -70vh;
    margin-left: auto;
    width: max-content;
    margin-right: auto;
    font-size: 8vw;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(129, 14, 14);
}

.score {
    margin-top: -0vh;
    margin-left: auto;
    width: max-content;
    margin-right: auto;
    font-size: 7vw;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(2, 0, 143);
}